{% extends 'base.html.twig' %}

{% block title %}ShopMaquette - Mes Commandes
{% endblock %}

{% block body %}
	{# Container du titre avec liste #}
	<div class="container-fluid col-12 mt-3">
		<div class="row">
			<div class="col-4">
				<h1 class="mt-3 mx-3">Mes commandes</h1>

				{# Liste pour naviger dans le profil #}
				<ul class="mt-5">
					<a href="{{ path('app_user') }}">
						<li class="profilslist navbar">Details profils</li>
					</a>
					<a href="{{ path('app_commandUser') }}">
						<li class="profilslist navbar">Mes commandes</li>
					</a>
					<a href="#">
						<li class="profilslist navbar">Options de profils</li>
					</a>
					<a href="{{ path('app_logout') }}">
						<li class="profilslist navbar">Deconnexion</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid col-10">
		<div class="row d-flex justify-content-end">
			<div class="col-8">
				{% for commande in commandes %}
					<div class="card mt-5">
						<div class="card-body m-2">
							<div>
								<h5>Reference</h5>
								{{ commande.reference }}
							</div>
							<div>
								<h5 class="pt-3">Adresse Livraison / Facturation</h5>
								{{ commande.adresselivraison }}
								/
								{{ commande.adressefacturation }}
							</div>
							<div>
								<h5 class="pt-3">Total
								</h5>
								{{ commande.total }}
								€
							</div>
							<div>
								<h5 class="pt-3">Quantiter
								</h5>
								{{ commande.quantiter }}
							</div>
                            <div class="d-flex justify-content-end">
                                <a href="{{ path('app_detailCommandUser', {'id': commande.id}) }}" class="btn btn-primary">Voir plus</a>
                            </div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}

