{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Quantiter</th>
                <th>Description</th>
                <th>PrixPHUT</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.quantiter }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prixPHUT }}</td>
                <td>
                    <a class="btn btn-primary mx-2" href="{{ path('app_produit_show', {'id': produit.id}) }}">Details</a>
                    <a class="btn btn-primary mx-2" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun produit trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mx-2" href="{{ path('app_produit_new') }}">Creer un produit</a>
{% endblock %}
