{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Quantiter</th>
                <td>{{ produit.quantiter }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>PrixPHUT</th>
                <td>{{ produit.prixPHUT }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ produit.note }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_produit_index') }}">Retour</a>

    <a class="btn btn-primary mx-3" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifie</a>

    {{ include('pages/produit/_delete_form.html.twig') }}
{% endblock %}
