{% extends 'base.html.twig' %}

{% block title %}ShopMaquette - Produit detail{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_ModelKit') }}">ModelKit</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Model Type</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Produit</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>

    </ol>

    <h1>Details produit</h1>

    <div class="container-fluid text-start mt-3">

        <div class="row mx-auto my-auto justify-content-start">

            <img src="{{ asset('images/produit/' ~ produits.image.first().nom) }}" class="img-fluid col-6" alt="ProduitImage">

            {#  sert a avoir toute les images #}
            {% for i in produits.image %}
                <img class="img-fluid col-2 h-100" src="{{ asset('images/produit/' ~ i.nom) }}" />
            {% endfor %}

            <div class="row ">
                <h5 class="card-title">{{ produits.nom }}</h5>

                <p class="card-text">{{ produits.description }}</p>

                <a href="#" class="btn btn-primary d-flex justify-content-center">Ajout au panier</a>

        </div>   
        
        </div>
    </div>
{% endblock %}