{% extends 'base.html.twig' %}

{% block title %}ShopMaquette - Accueil
{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
</ol>

	<!--Carousel-->
	<div class="container-fluid mt-5">
		<div class="row">
			<div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for produit in produits %}
						{% if produit.Publicité == true %}
							{% for image in images %}
								<div class="carousel-item {% if loop.first %}active{% endif %}">

									<a href="#">
										<img class="d-block imag-pub" src="{{ asset('images/produit/' ~ image.nom) }}" alt="{{ produit.nom }}">
									</a>
								</div>
							{% endfor %}
						{% endif %}
					{% endfor %}

				</div>
				<!--Sers a creer les fleche pour aller a droite ou gauche du carrousel-->
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
				<!--Fin des fleche-->
			</div>
		</div>
	</div>
	{# fin carousel #}

	{# Selection de la categorie #}
	<div class="container-fluid text-start mt-5">

		<div class="row mx-auto my-auto justify-content-center">

			<h1 class="mb-5">Catégorie :</h1>

			<div class="card-group offset-md-0 offset-1 col-12 col-md-10">
				{% for categorie in categories %}

					<div class="card w-auto h-50 col-6 col-md-3 me-5 rounded">
						<a href="{{ path("app_SousCategorie", { categorie: categorie.id}) }}">
							<img src="{{ asset('images/categorie/' ~ categorie.image) }}" class="img-fluid rounded d-flex justify-content-center categorie-img"></img>
						</a>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

    <div class="container-fluid text-start mt-5">

		<h1 class="mb-5">Produit récent :</h1>

		<div class="row mx-auto my-auto justify-content-center">

			<div class="card-group offset-md-0 offset-1 col-12 col-md-10">

				{% for produit in produits %}

					{% if produit.updateAt == "now"|date('Y-m-d') %}
					

						<div class="card col col-md-6 me-3 rounded custom-card-produitR mx-5">
						

							{% for image in produit.image %}

								{% if loop.first %}		{# Enlever plustard #}

									<img class= "produit-img card-img-top rounded" src="{{ asset('images/produit/' ~ image.nom) }}" alt="{{ produit.nom }}">
									
									<div class=" card-body ">

										<h5 class="card-title">{{ produit.nom }}</h5>

										<p class="card-text">{{ produit.description }}</p>

									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

